.js-calendar tr td {
    text-align: center;
    vertical-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calendar-header {
    height: 100px;
}

.calendar-next:hover, .calendar-previous:hover, .calendar-date:hover {
    cursor: pointer;
}

.calendar-day {
    
    /* text-transform: uppercase; */
}

.calendar-date {
    width: 75px;
    height: 75px;
    
    background-color: #eee;
}



.selected-date {
    background-color: teal !important;
}